/* application css */
body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
  color: #666;
  background-color: #DADAD2;
  text-align: center;
}
body div.toolbar a, body div.toolbar a:link, body div.toolbar a:hover, body div.toolbar a:active, body div.toolbar a:visited {
  text-decoration: none;
}
body div.toolbar span.logo {
  background: url("/media/images/logo_lg.png") no-repeat scroll center top transparent;
  display: block;
  height: 140px;
}
body .main_content {
  background: url("/media/images/bg_dots.jpg") repeat scroll left top !important;
  width: 500px;
  margin: 0px auto;
  height: auto;
}
body div#page_footer {
  width: 500px;
  margin: 0px auto;
  clear: both;
  border-top: 8px solid #aaa;
}
body div#page_footer ul {
  margin: 10px auto;
}
body div#page_footer ul li {
  padding: 0 20px 0 0;
  display: inline;
}

.form_wrap {
  margin: 0px auto;
  width: 500px;
  text-align: left;
  height: 150px;
  overflow: visible;
  padding-top: 20px;
}
.form_wrap form label {
  margin-bottom: 4px;
  display: block;
  width: 125px;
  text-align: right;
  padding-right: 8px;
  line-height: 25px;
  font-size: 13px;
}
.form_wrap form input {
  margin-bottom: 4px;
  display: block;
  line-height: 22px;
  padding: 0 4px;
  -webkit-border-radius: 6px, 6px, 6px, 6px;
  -moz-border-radius: 6px, 6px, 6px, 6px;
  border-radius: 6px, 6px, 6px, 6px;
}
.form_wrap form input[type=text], .form_wrap form input[type=password] {
  width: 360px;
  margin: 0 0 10px 60px;
  background: #313131;
  color: #D1D1D1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid black;
  -webkit-border-radius: 8px, 8px, 8px, 8px;
  -moz-border-radius: 8px, 8px, 8px, 8px;
  border-radius: 8px, 8px, 8px, 8px;
  -webkit-box-shadow: 0px 0px 10px #232323;
  -moz-box-shadow: 0px 0px 10px #232323;
  box-shadow: 0px 0px 10px #232323;
  padding: 4px 8px;
  height: 30px;
}
.form_wrap form .field_error {
  background-color: #F0A8A8;
  border-color: #900;
}
.form_wrap form span.form_error {
  color: #900;
  width: 280px;
  display: none;
  clear: both;
  margin: 10px auto;
  float: none;
  text-align: center;
  padding-top: 10px;
}
.form_wrap form input.action.submit_button {
  display: none;
  margin-left: 10px;
  display: inline;
}
.form_wrap form input#submit_create {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
.form_wrap form#shorten_form .submit_button {
  display: block;
  position: initial;
  margin: 0 0 0 60px;
  width: 376px;
}

div#latest_urls {
  width: 500px;
  margin: 0px auto;
  text-align: left;
}
div#latest_urls ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}
div#latest_urls ul li {
  padding: 8px 0px;
  line-height: 24px;
  width: 480px;
  margin: 0 auto;
  height: 45px;
}
div#latest_urls ul li span {
  width: auto;
  line-height: 24px;
}
div#latest_urls ul li span.path_link {
  padding: 9px 0 0 20px;
  float: left;
}
div#latest_urls ul li span.path_link a {
  font-size: 18px;
  text-shadow: 1px 1px 1px #111;
}
div#latest_urls ul li span.hit_count {
  padding: 10px 20px 0 0;
  font-size: 10px;
  float: right;
}
div#latest_urls ul li span.stats {
  font-size: 12px;
  float: right;
  padding: 10px 30px 0 0;
  color: #AAA;
  font-weight: normal;
}
div#latest_urls ul li span.stats a {
  display: inline;
  margin: 0;
  padding: 0 2px;
  color: #AAA;
  font-weight: normal;
}
div#latest_urls ul.individual li {
  margin: 10px;
}
div#latest_urls ul.individual li.prev_button, div#latest_urls ul.individual li.next_button {
  width: 120px;
}
div#latest_urls ul.individual li.prev_button {
  margin-left: 20px;
}
div#latest_urls ul.individual li.next_button {
  margin-right: 20px;
}

div#flash_message {
  display: block;
  position: fixed;
  width: 100%;
}
div#flash_message p {
  display: block;
  margin: 15px auto;
  color: #343434;
  font-family: tahoma,sans-serif;
  font-size: 14px;
}
div#flash_message span.close {
  display: block;
  float: right;
  cursor: pointer;
  margin: 10px 10px 0 0;
}

.error {
  background-color: #F0A8A8;
  border-bottom: 2px solid #900;
}

.notice {
  background-color: #A4E7A0;
  border-bottom: 2px solid #26722D;
}

.static_wrap {
  text-align: left!important;
  padding: 10px;
}
.static_wrap h1 {
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
  margin-left: 10px!important;
}
.static_wrap h2 {
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
  margin: 1em 10px!important;
  text-shadow: 1px 1px 1px white;
}
.static_wrap h3 {
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px!important;
}
.static_wrap p {
  padding-left: 20px;
  margin: 1em 10px 0;
  font-size: 12px;
}
.static_wrap ul.normal_list {
  list-style-type: disc;
  margin: 10px;
  padding: 0 0 0 16px!important;
}
.static_wrap ul.normal_list li {
  padding-left: 25px!important;
  border: none!important;
  background: none!important;
  font-weight: normal!important;
  color: black!important;
  list-style-type: disc!important;
  list-style-position: inside;
}

/* show */
#show h1 {
  margin: 0!important;
  font-weight: bold!important;
  font-size: 24px!important;
  font-family: "Helvetica Neue", Helvetica!important;
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px !important;
  color: black!important;
}
#show div.url_wrap {
  float: left;
  height: auto!important;
}
#show div.url_wrap label {
  display: block;
  text-align: right;
  width: 100px;
  margin-right: 10px;
  float: left;
  line-height: 24px;
  border-right: 1px dashed #AAA;
  padding-right: 10px;
}
#show div.url_wrap input.text_field {
  display: block;
  text-align: left;
  width: 350px;
  margin: 0px;
  float: left;
  line-height: 24px;
  padding: 0;
}
#show div.url_wrap input[readonly=readonly] {
  border: none;
  background: none;
  font-size: 14px;
}
#show div.url_wrap input.text_field.editable {
  margin: 3px 0;
  padding: 0;
  line-height: 18px;
  font-size: 12px;
}

div#register div.form_wrap {
  height: auto!important;
}

#jqt {
  width: 500px;
  margin: 0 auto;
}

#jqt .toolbar {
  height: 140px!important;
  background: transparent!important;
}

#jqt .info {
  padding: 15px 0!important;
}

#jqt h1, #jqt h2 {
  margin: 4px 0px 0px!important;
  padding: 8px 0;
}

#jqt h4 {
  font: bold 14px "Helvetica Neue", Helvetica;
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px;
  color: black;
  margin: 0px 20px 5px;
}

#jqt #page_footer ul.individual li {
  width: 30%!important;
  float: left!important;
  margin: 2px 8px;
}
